* {
    margin: 0%;
    padding: 0%;

}

body {

    font-family: 'Dongle', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #005A5E;

}


section {
    background-color: #005A5E;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    overflow: auto;
}


.grid-instalaciones {

    justify-content: center;
    display: flex;

}


.img-logo {
    justify-content: center;
    display: flex;
    overflow: auto;
    transform: none;
}

div {
    background-color: #005A5E;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: center;
    display: flex;
    overflow: auto;
}



nav {
    font-size: medium;
    background-color: #d1cfcf;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    flex: auto;
    display: flex;


}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}



li {

    display: inline-block;
    transition: .5s;

}

li a {

    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

}

li:hover {
    color: #d1cfcf;
    background-color: #005A5E;
    transform: scale(1.1);
}

.index {

    background-color: #7c7b7b;
    height: 2rem;
    width: 6rem;
    padding: .7rem;
    margin: .3rem;
    border-radius: 18px;
    justify-content: center;
    text-align: center;

}


footer {

    display: flex;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}



.logo-booking {
    padding: .5rem;
    margin: .5rem;
}

.logo-booking:hover {
    background-color: #7c7b7b;
    transform: scale(1.1);
}

.logo-whats {
    margin: .5rem;
    padding: .5rem;
}

.logo-whats:hover {
    background-color: #7c7b7b;
    transform: scale(1.1);
}


.caja-1 {
    width: 100%;
    height: 100%;
    color: #ffffff;
    justify-content: center;
    margin: .3rem;
    padding: .4rem;
    text-align: right;
}

.caja--1a {
    width: 100%;
    height: 100%;
    margin: .4rem;
    padding: .4rem;
    border-radius: 5px;
    align-items: stretch;
}

.boton-enviar {
    width: 20%;
    height: 20%;
    padding: .3rem;

}

.card {
    background-color: #005A5E;
    width: 30%;
    height: 30%;
    padding: .5rem;
    margin: 1rem;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    align-items: center;

}



h5 {
    color: #ffffff;
    margin: .5rem;
    padding: .2rem;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;

}


.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.card img:hover {
    flex-wrap: wrap;
    transform: scale(.9);
    flex: auto;

}

.contact {
    background-color: #7c7b7b;

}



.pie-pag {
    background-color: #7c7b7b;
}

h2{
    color: #fafafa;
    margin: 2rem;
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content ;
    grid-template-areas:
        "title    img1    img2   img2"
        "texto    img1    img2   img2"
      

}

.grid-title {
    color: #fafafa;
    grid-area: title;
    text-align: center;
    
    margin: .5rem;
    padding: .5rem;
    align-self: flex-end;
    text-shadow: #7c7b7b;

}

.grid-texto {
    grid-area: texto;
    color: #fafafa;
    margin: .5rem;
    padding: .5rem;
    text-align: justify;


}

.grid-img1 {
    grid-area: img1;
    overflow: auto;
    padding: 1rem;
    margin: 3rem;
    align-self: center;
    border-radius: 10px;
    
}

.grid-img2 {
    grid-area: img2;
    overflow: auto;
    align-self: center;
    margin: 4rem;
    border-radius: 10px;
   

}





.grid2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "title2      video video  ..."
        "texto2      video  video ..."
        "texto2      video  video ....";
}

.grid-title2 {
    color: #fafafa;
    grid-area: title2;
    margin: .5rem;
    padding: .5rem;
    text-align: end;
    align-self: flex-end;
}

.grid-texto2 {
    grid-area: texto2;
    color: #fafafa;
    text-align: justify;
    margin: .5rem;
    padding: .5rem;
}

.grid-video {
    grid-area: video;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #005A5E;
    }
    nav {
        font-size: medium;
        background-color: #d1cfcf;
        padding-top: .5rem;
        padding-bottom: .5rem;
        justify-content: center;
        flex: auto;
        display: flex;
    
    
    }
}

@media screen and (max-width: 780px) {
    body {
        background-color: #7c7b7b;
    }

    iframe {
        width: auto;
       
    }
    nav {
        font-size: medium;
        background-color: #d1cfcf;
        padding-top: .5rem;
        padding-bottom: .5rem;
        justify-content: center;
        flex: auto;
        display: flex;
    
    
    }
    .grid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-areas:
            "... title    title ..."
            "... texto    texto ..."
            "img1 ...     img2 ..."
            "img1 ...    img2  ..."
    
    }

    .grid-texto {
        grid-area: texto;
        color: #fafafa;  
        padding: 0%;      
        text-align:justify;
        
    
    
    }

    .grid-img1 {
        grid-area: img1;
        overflow: auto;
        padding: .1rem;
        margin: 2rem;
        align-self: center;
        border-radius: 10px;
        align-items: center;
    }
    
    .grid-img2 {
        grid-area: img2;
        overflow: auto;
        align-self: center;
        margin: 5rem;
        border-radius: 10px;
       align-items: center;
    
    }
    
    .grid-title {
        color: #fafafa;
        grid-area: title;
        text-align: center;
        margin: .1rem;
        padding: .1rem;
        align-self: flex-end;
        text-shadow: #7c7b7b;
    
    }

   
    
}

@media screen and (max-width: 480px) {
    body {
        background-color: #bdbaba;
    }
    iframe {
        width: auto;
        
    }
    nav {
        font-size: medium;
        background-color: #d1cfcf;
        padding-top: .5rem;
        padding-bottom: .5rem;
        justify-content: center;
        flex: auto;
        display:inline-block;
    
    
    }

    .grid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: min-content min-content min-content min-content;
        grid-template-areas:
            "... title    title ..."
            "... texto    texto ..."
            "... img1    img1..."
            "... img2    img2..."
    
    }

    .grid-texto {
        grid-area: texto;
        color: #fafafa;  
        padding: 0%;      
        text-align:justify;
        
    
    
    }

    .grid-img1 {
        grid-area: img1;
        overflow: auto;
        padding: .1rem;
        margin: .1rem;
        align-self: center;
        border-radius: 10px;
        align-items: center;
    }
    
    .grid-img2 {
        grid-area: img2;
        overflow: auto;
        align-self: center;
        margin: .1rem;
        border-radius: 10px;
       align-items: center;
    
    }
    
    .grid-title {
        color: #fafafa;
        grid-area: title;
        text-align: center;
        margin: .1rem;
        padding: .1rem;
        align-self: flex-end;
        text-shadow: #7c7b7b;
    
    }
  
}